@import url(http://fonts.googleapis.com/css?family=Raleway);

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed !important;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  overflow-y: hidden;
}

.question-modal {
  width: 1000px;
  height: 500px;
  background-color: white;
  position: relative;
  text-align: center;
  margin: 50px auto;
  justify-content: center;
  border-radius: 4px;
}

.question label {
  padding: 20px;
  font-size: 20px;
  position: absolute;
  text-align: center;
  margin: 15px auto;
  -webkit-text-fill-color: black;
  top: 10px;
  left: 25%;
}

.choice-container button {
  max-width: 800px;
  margin: 50px;
  display: block;
  align-items: center;
  position: relative;
  top: 100px;
}

button {
  font-size: 20px;
  display: block;
  margin: 15px auto !important;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 4px;
}

button:hover {
  background-color: #fafafa;
}

.navigation {
  display: none;
  justify-content: center;
  position: absolute;
  margin: 20px auto !important;
  top: 300px;
  left: 450px;
}

#access-website {
  background-color: red;
}

#another-question {
  background-color: yellow;
}

#close-tab {
  background-color: #74df00;
}

.question2 {
  display: none;
}

.question2 label {
  padding: 20px;
  font-size: 20px;
  position: absolute;
  text-align: center;
  -webkit-text-fill-color: black;
  top: 10px;
  left: 35%;
}
