@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

p {
  font-size: 20px;
}
h2 {
  font-size: 20px !important;
  text-align: center;
}
select {
  border: none;
  outline: none;
  width: 200px;
  padding: 5px !important;
  background: white;
}
#mindful-popup {
  background: white;
  padding: 10px;
  width: 300px;
}

#saveQuestion {
  border-radius: 5% !important;
  width: 240px;
  border: none;
  background-color: #ffe6e6;
}

#saveQuestion:hover {
  background-color: #fffafa;
}

textarea {
  border: none;
  resize: none !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  height: 25px;
  width: 240px;
  outline: none;
  padding: 5px;
  justify-content: center;
  font-size: 15px !important;
}
#addAnswer {
  height: 100px;
}
.languages-settings,
.coding-settings,
.customize-settings {
  background-color: #fbefef;
  padding: 20px;
  border-radius: 5px;
}
.mb-3 {
  width: 280px;
  background: #fafafa;
  padding: 5px !important;
}
.form {
  display: flex;
  align-items: center;
}
#logo {
  justify-content: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
#title {
  font-size: 40px;
  border-color: black;
}
img {
  width: 50px;
  height: 50px;
}

.blacklist {
  border-radius: 5px;
  padding: 20px;
  background: #f2f2f2;
  margin-top: 10px;
  vertical-align: top;
}
#add-button {
  margin: 5px;
  position: relative;
  background-color: #74df00;
  border: none;
  font-size: 20px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 100% !important;
}

.remove-button {
  position: relative;
  background: #ff0000;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 100% !important;
}
