@import url(http://fonts.googleapis.com/css?family=Raleway);

.binyuan {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed !important;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 513214134200;
  overflow-y: hidden !important;
}

.question-modal {
  width: 1000px;
  height: 500px;
  background-image: linear-gradient(to bottom right, #f5a9a9, #f6cece, #f8e6e0);
  position: relative;
  text-align: center;
  margin: 50px auto !important;
  justify-content: center;
  border-radius: 4px;
  padding: 5px;
}
.question {
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.choice-container button {
  max-width: 800px;
  margin: 50px;
  display: block;
  align-items: center;
  position: relative;
  top: 100px;
}

.btn-choices {
  background-color: #f8e0e0;
  font-size: 20px !important;
  display: block;
  margin: 15px auto !important;
  padding: 8px;
  border-radius: 25px;
  width: 300px;
  height: 50px;
  border: none;
  color: white;
}

.btn-choices:hover {
  background-color: #fbefef;
}

.navigation {
  display: none;
  justify-content: center;
  position: absolute;
  margin: 20px auto !important;
  top: 300px;
  left: 450px;
}

#access-website {
  background-color: red;
}

#another-question {
  background-color: #2e9afe;
}

#close-tab {
  background-color: #74df00;
  display: none;
}

.mp {
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#nextBtn,
#accessBtn {
  width: 200px !important;
  background-color: #f5a9a9;
}
